body {
    margin: 0 auto;
    background-color: #f9d3a7;
    max-width: 1200px;
    min-width: 500px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 500px;
}