body {
    margin: 0 auto;
    background-color: #f9d3a7;
    max-width: 1200px;
    min-width: 500px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: auto;
    margin: 10px;
}

.row2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: auto;
    margin: 10px;
}

.row3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: auto;
    margin: 10px;
}

.columns {
    display: block;
    padding: 10px;
}

.tooltip text {
    font-weight: normal;
  }

svg {
    border: 1px solid gray;
    margin-top: 10px;
}